<div id="title">
    <h1>{{ title }}</h1>
    <!-- <hr> -->
    <h2>{{ subtitle }}</h2>
    <p>{{ web }}</p>
</div>

<article class="about">
    <h2>Sobre mí</h2>
    <!-- <hr> -->
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit modi, delectus tenetur provident nesciunt
        eligendi error natus quas ad corrupti. Debitis saepe porro pariatur id at quam quia, distinctio modi autem ullam
        nihil nemo perferendis natus incidunt fugit ipsam quibusdam necessitatibus, fuga odit labore reiciendis? Rerum
        nostrum sapiente inventore eum nemo perspiciatis numquam voluptatum sint quis, dignissimos ab explicabo nihil
        aspernatur totam tempora ut odio. Ipsam labore quae esse quam tempore voluptatum dolorum ullam, repellendus
        consequatur magni, officia beatae quisquam itaque delectus error sunt repellat odit minima libero unde dolore
        autem consequuntur nemo. Rerum recusandae tempore dolores enim ducimus ab!</p>
</article>